asgiref==3.8.1
Django==5.1.2
django-phonenumber-field==8.0.0
mysqlclient==2.2.4
phonenumbers==8.13.47
sqlparse==0.5.1
tzdata==2024.2
crudweb@1.0.0 
├── UNMET DEPENDENCY autoprefixer@^10.4.0
├── postcss@8.4.47
└── tailwindcss@3.4.14

